<h1><%= pluralize(@projects.size, 'Project') %></h1>


<ul>
	<% @projects.each do |project| %>
		<strong><li><%= project.name %></strong>
			<br>Description: <%= truncate(project.description, length: 40, separator: ' ') %>
			<br>Funds Needed: <%= format_target_pledge_amount(project) %>
			<br>Website: <%= project.website %>
			<br>Pledging Ends In: <%= time_remaining(project) %> 
		</li>	
	<% end %>
<ul>
